// fonts
$primaryFont: "Kaushan Script", cursive;
$secondaryFont: "Montserrat", sans-serif;
$thirdFont: "Roboto", sans-serif;

// colors
$primaryColor: black;
$secondaryColor: #808080;
$thirdColor: #00ffff;
$mixedColor: linear-gradient(0deg, #e2cc7b 0%, #db7474 100%);
$pinkColor: #f38181;
$fourthColor: #95e1d3;
$white: white;
