.someWorkCountainer .name::after, .nameP::before, .amazingH::after,
.uniqueDesignText h3::after,
.serviceSection h3::after, .storyAboutUs .story::after, main .carousel-indicators [data-bs-target] .carousel-indicators .active:hover {
  content: " ";
  width: 60px;
  height: 3px;
  color: #f38181;
  position: absolute;
  background-color: #f38181;
  top: 60%;
  left: 48%;
  margin: 10px 0;
}

.headsectionText p,
.amazingService p,
.uniqueDesignText p,
.serviceSection .serviceP {
  font-family: "Kaushan Script", cursive;
  font-size: 18px;
}

.amazingService h3,
.uniqueDesignText h3,
.serviceSection h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 3rem;
}

.absoluteSpan {
  background-color: #95e1d3;
  padding: 0.8rem 1.2rem;
  color: white;
  top: 29%;
  left: 0%;
}

main {
  background-image: url(../pics/bg-header.jpg);
  background-size: cover;
}
main .overlay {
  background-image: linear-gradient(0deg, #e2cc7b 0%, #db7474 100%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
main .content {
  z-index: 99;
}
main .carousel.slide {
  width: 100%;
}
main .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
}
main .carousel-indicators [data-bs-target] {
  width: 40%;
  position: relative;
}
main .carousel-indicators [data-bs-target] .carousel-indicators .active {
  position: relative;
}
main .creative {
  font-family: "Kaushan Script", cursive;
  font-size: 3rem;
}
main .mongoMain {
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  font-weight: 800;
}

.storyAboutUs .weDo {
  font-family: "Kaushan Script", cursive;
}
.storyAboutUs .story {
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.storyAboutUs .lorem {
  font-family: "Roboto", sans-serif;
  color: #808080;
  font-size: 0.8rem;
}
.storyAboutUs .doubleImg {
  position: relative;
}
.storyAboutUs .doubleImg .card {
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(0deg, #e2cc7b 0%, #db7474 100%);
  transition: 0.5s;
  text-align: center;
  width: 100%;
  display: none;
}
.storyAboutUs .doubleImg:hover .card {
  display: block;
  top: 0;
  opacity: 0.8;
  transform: translate(-10px, -10px);
}
.storyAboutUs .doubleImg:hover img {
  border-bottom: 10px solid #00ffff;
  border-right: 10px solid #00ffff;
}
.storyAboutUs .content {
  padding-top: 25%;
}

.designProject {
  background-color: #95e1d3;
}

.col p {
  font-family: "Montserrat", sans-serif;
}

.col p:nth-child(1) {
  font-size: 50px;
  font-weight: 800;
}

.col p:nth-child(2) {
  font-size: 12px;
}

/************************/
.amazingH,
.uniqueDesignText h3,
.serviceSection h3 {
  position: relative;
}
.amazingH::after,
.uniqueDesignText h3::after,
.serviceSection h3::after {
  top: 100%;
}

.content-text h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.content-text p {
  font-family: "Roboto", sans-serif;
  color: #808080;
  font-size: 14px;
}

/********************/
.navbar-collapse {
  flex-grow: 0;
}

nav {
  z-index: 1;
}

/**********************/
.uniqueDesign {
  background-image: url(../pics/unique-design/bg-unique-design.jpg);
}

.mobilePic {
  height: 50%;
  margin-left: -3.5rem;
  margin-top: 14%;
}

.serviceParagraph {
  font-family: "Roboto", sans-serif;
  color: #808080;
  font-size: 0.8rem;
}

/*************************/
.analysisPeople {
  font-family: "Roboto", sans-serif;
  color: #808080;
  line-height: 33px;
  margin-right: 3rem;
}

.nameP {
  font-family: "Kaushan Script", cursive;
}

.nameP::before {
  left: 25%;
  width: 2.5rem;
  top: 62%;
}

.meetTeam {
  position: relative;
}

.meetTeam .card {
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(0deg, #e2cc7b 0%, #db7474 100%);
  transition: 0.5s;
  text-align: center;
  width: 100%;
  display: none;
  height: 85%;
}

.meetTeam:hover .card {
  display: block;
  top: 0;
  opacity: 0.8;
  transform: translate(-10px, -10px);
}
.meetTeam:hover img {
  border-bottom: 10px solid #00ffff;
  border-right: 10px solid #00ffff;
}

.socialMedia {
  width: 55.3%;
  margin: 50% auto;
}

.social h5 {
  font-family: "Montserrat", sans-serif;
}

.social p {
  font-family: "Roboto", sans-serif;
  color: #808080;
}

/************************/
.otherPeople button {
  color: #808080;
}

.happyClients {
  background-image: url(../pics/happy-client/bg-happy-client.jpg);
}

/*****************/
.someWorkCountainer h3 {
  font-family: "Montserrat", sans-serif;
}

.someWorkCountainer .name {
  font-family: "Roboto", sans-serif;
  position: relative;
}
.someWorkCountainer .name::after {
  top: 100%;
  left: 0%;
}

.someWorkParagraph {
  color: #808080;
}

.someWork {
  position: relative;
}

.someWork .card {
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(0deg, #e2cc7b 0%, #db7474 100%);
  transition: 0.5s;
  text-align: center;
  width: 100%;
  display: none;
  height: 51%;
}

.someWork:hover .card {
  display: block;
  top: 0;
  opacity: 0.8;
}

.someWorkk {
  position: relative;
}

.someWorkk .cardd {
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(0deg, #e2cc7b 0%, #db7474 100%);
  transition: 0.5s;
  text-align: center;
  width: 100%;
  display: none;
  height: 100%;
}

.someWorkk:hover .cardd {
  display: block;
  top: 0;
  opacity: 0.8;
}

.someWorkkk {
  position: relative;
}

.someWorkkk .carddd {
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(0deg, #e2cc7b 0%, #db7474 100%);
  transition: 0.5s;
  text-align: center;
  width: 100%;
  display: none;
  height: 100%;
}

.someWorkkk:hover .carddd {
  display: block;
  top: 0;
  opacity: 0.8;
}

/*********/
.viewMsg h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.viewMsg p {
  font-family: "Roboto", sans-serif;
  color: #808080;
  font-size: 14px;
}

.viewMsg i {
  color: #95e1d3;
}

.viewMsg span {
  color: #808080;
  font-size: 13px;
}

.viewMsg img {
  position: relative;
}

.absoluteSpan span {
  font-size: 27px;
  color: white;
  font-weight: 800;
  display: block;
}

/*****************/
.mapSection {
  background-image: url(../pics/map/bg-map.jpg);
  color: #f38181;
}

/***************/
.followIcons i {
  color: #95e1d3;
  margin-right: 0.4rem;
}

.followIcons button {
  background-color: #95e1d3;
}

.followIcons .megoP,
h2 {
  color: #808080;
  opacity: 0.7;
}

.followIcons .megoP,
.followUs,
.input,
.viewMore {
  font-family: "Roboto", sans-serif;
}

.date {
  font-size: 0.8rem;
  color: #808080;
}

.followIcons h4,
footer {
  font-family: "Montserrat", sans-serif;
}

.instargram img {
  margin-bottom: 4px;
}

/**********/
footer span {
  color: #f38181;
}/*# sourceMappingURL=style.css.map */